<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Layout - responsive design</title>
    <meta name="author" content="Cristina Pat" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <link rel="stylesheet " href="float.css" />
    <!-- arrange article elements using different techniques -->
    <!-- <link rel="stylesheet" flex.css" /> -->
</head>

<body>
    <h1>Some boxs using float</h1>

    <section>
        <div>
            <p>Box 1</p>
        </div>
        <div>
            <p>Box 2</p>
        </div>
        <div>
            <p>Box 3</p>
        </div>
        <div>
            <p>Box 4</p>
            <!--<p>This box contains more information than others.</p> -->
        </div>
        <div>
            <p>Box 5</p>
        </div>
        <div>
            <p>Box 6</p>
        </div>
        <div>
            <p>Box 7</p>
        </div>
        <div>
            <p>Box 8</p>
        </div>
    </section>

    <h1>More content ...</h1>
</body>

</html>